.main__heading,
.tasklist__heading,
.taskList {
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

.main__form,
.task__form {
    display: flex;
    justify-content: center;
    gap: 1.5em;
}

#taskInput {
    border-radius: 5px;
    border: 3px solid rgb(225, 102, 14);
}

#addButton {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    background-color: rgba(216, 222, 63, 0.696);
    border-radius: 5px;
    border: 3px solid rgb(225, 102, 14);
    padding: 0.5rem;
    letter-spacing: 0.1rem;
}















